footer {
  text-align: right;
  font-size: 0.75em;
  border-top: 1px solid var(--primary);
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .telegram {
    color: #08c;
  }

  .mail {
    color: red
  }

  .github {
    color: #25292e;
  }

  .rss {
    color: #fd9a00;
  }

  .footerlinks,
  P {
    font-weight: 600;
    text-align: center;
    font-family: var(--font-nav);
  }
}