@charset "UTF-8";
@keyframes translate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(var(--translate-y, 0));
  }
  100% {
    transform: translateY(0);
  }
}
header {
  border-bottom: 1px solid var(--primary);
  padding-bottom: 10px;
  border-radius: 10%;
}
header .top {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
}
header .top .avatar img {
  width: 15rem;
  height: 10rem;
  overflow: hidden;
}
header .top .details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 26px;
}
header .top .details .poem {
  font-size: 2rem;
  font-family: "Amiri";
  transition: 0.3s;
}
header .top .details .poem:nth-child(2) {
  text-align: center;
  --translate-y: -2px;
  animation: translate 3s ease-in-out infinite;
}
header .top .details .poem:nth-child(1) {
  text-align: right;
  --translate-y: 2px;
  animation: translate 3s ease-in-out infinite;
}
header .menu {
  display: none;
}
header .menu img {
  width: 50px;
  margin: 0;
  filter: invert(1);
  transition: 0.5s;
}
header .menu img.active {
  rotate: -180deg;
}
header .links {
  border-radius: 10px;
  overflow: hidden;
  gap: 10px;
  display: flex;
  align-items: center;
}
header .links,
header .menu {
  line-height: 2.2rem;
  white-space: nowrap;
  font-family: var(--font-nav);
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
}
header .links a,
header .links .overflow-menu,
header .menu a,
header .menu .overflow-menu {
  text-decoration: none;
  flex: 1;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
header .links a span,
header .links .overflow-menu span,
header .menu a span,
header .menu .overflow-menu span {
  flex: 0;
}
header .links a span.emoji,
header .links .overflow-menu span.emoji,
header .menu a span.emoji,
header .menu .overflow-menu span.emoji {
  margin: 0 0.5em 0 0.25em;
  font-size: 1.2em;
}
header .links a,
header .menu a {
  transition: padding 0.3s ease-in-out;
}
header .links a.active, header .links a:hover,
header .menu a.active,
header .menu a:hover {
  background-color: var(--primary);
  border-radius: 30px;
  padding: 5px;
}
header .links .overflow-menu,
header .menu .overflow-menu {
  flex: 0;
}
header .links .overflow-menu summary,
header .menu .overflow-menu summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 2em;
  padding: 0.5em 1em;
}
header .links .overflow-menu summary div,
header .menu .overflow-menu summary div {
  height: 0.2em;
  color: var(--primary);
  line-height: 0.2em;
}
header .links .overflow-menu summary div::before,
header .menu .overflow-menu summary div::before {
  content: "·";
  font-size: 1.5em;
}
header .links .overflow-menu summary ul,
header .menu .overflow-menu summary ul {
  min-width: 12em;
}
header .links .overflow-menu[open] summary div,
header .menu .overflow-menu[open] summary div {
  color: var(--heading-color);
}
header .links .overflow-menu ul,
header .menu .overflow-menu ul {
  top: 3em;
}
header .links .right-button,
header .menu .right-button {
  display: none;
  width: 3rem;
  height: 3rem;
}
header .links .right-button a,
header .menu .right-button a {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1em;
  border: 1px solid var(--black);
  border-radius: 50%;
  text-decoration: none !important;
}
header .links .right-button a img,
header .menu .right-button a img {
  width: 50px;
  filter: invert(1);
  transform: rotate(90deg);
}
header .links .right-button a:hover img,
header .menu .right-button a:hover img {
  filter: invert(0);
}

header h1 {
  margin: 0;
}

footer {
  color: var(--subtle-text);
}
footer a {
  color: var(--primary);
  text-decoration: none;
}
footer a img {
  width: 30px;
  margin: 0;
  border-radius: var(--border-radius);
}
footer a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.social li,
.social ul {
  margin: 0;
  padding: 0;
}

.social ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: var(--font-nav);
}

.social li a {
  display: flex;
  gap: 5px;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.social li {
  list-style: none;
}

.social a {
  color: var(--subtle-text);
}
.social a:hover {
  color: var(--subtle-links);
  text-decoration: none;
  background-color: var(--primary);
}

.social nav {
  margin: 0;
  padding: 0;
  border: none;
  min-width: 50px;
  margin-left: 15px;
}

@media (max-width: 900px) {
  .social li {
    margin: 0;
  }
  header {
    margin: 1rem 0;
  }
}
@media (max-width: 600px) {
  header .top {
    gap: 0.75em;
    flex-direction: column;
  }
  header .top .details .poem {
    text-align: center;
  }
  header .top .avatar img {
    width: 8rem;
    height: 6rem;
  }
  header nav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header nav .menu .plus {
    font-size: 3rem;
    color: #00b16a;
    cursor: pointer;
    transition: 0.5s;
    font-family: "Aref Ruqaa";
  }
  header nav .menu .plus:hover {
    animation: rise 0.5s ease-in-out;
  }
  header nav .menu .plus.active {
    rotate: -45deg;
    color: #F32013;
  }
  header nav .links {
    flex-direction: column;
    margin-top: 0px;
    padding: 0px;
    height: 0;
    transition: 1s;
  }
  header nav .links.expand {
    margin-top: 5px;
    padding: 10px;
    height: 200px;
  }
  header nav .links a.active {
    width: 100%;
    border-radius: 0%;
  }
}
@media (max-width: 1000px) {
  footer {
    flex-direction: column-reverse;
  }
  footer .social {
    width: 100%;
    margin: 5px;
  }
  footer .social ul {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  footer .social ul a {
    flex-direction: column;
  }
  @keyframes rise {
    0% {
      transform: translate(0%, -10%);
    }
    100% {
      transform: translate(0%, 0%);
    }
  }
}/*# sourceMappingURL=header.css.map */