// Define a mixin for translation animations
// Define a single keyframe for translation
// Define a single keyframe for translation
@keyframes translate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(var(--translate-y, 0));
  }

  100% {
    transform: translateY(0);
  }
}


// Mixin for animation
@mixin animation($duration, $timing) {
  animation: translate $duration $timing infinite;
}

// Apply the animation to items with direction control using CSS variables

// Apply the mixin to the items


header {
  border-bottom: 1px solid var(--primary);
  padding-bottom: 10px;
  border-radius: 10%;

  .top {
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;


    .avatar {

      img {
        width: 15rem;
        height: 10rem;
        overflow: hidden;

      }
    }





    .details {

      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 26px;

      .poem {
        font-size: 2rem;
        font-family: "Amiri";
        transition: 0.3s;

        &:nth-child(2) {
          text-align: center;
          --translate-y: -2px;
          @include animation(3s, ease-in-out);
        }

        &:nth-child(1) {
          text-align: right;
          --translate-y: 2px;
          @include animation(3s, ease-in-out);
        }
      }



    }

  }

  .menu {
    display: none;

    img {
      width: 50px;
      margin: 0;
      filter: invert(1);
      transition: .5s;

      &.active {
        rotate: -180deg;
      }
    }
  }

  .links {
    border-radius: 10px;

    overflow: hidden;
    gap: 10px;
    display: flex;
    align-items: center;
  }

  .links,
  .menu {
    line-height: 2.2rem;
    white-space: nowrap;
    font-family: var(--font-nav);
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;


    a,
    .overflow-menu {
      text-decoration: none;
      flex: 1;
      color: var(--white);
      display: flex;
      justify-content: center;

      align-content: center;
      flex-wrap: wrap;

      span {
        flex: 0;

        &.emoji {
          margin: 0 0.5em 0 0.25em;
          font-size: 1.2em;
        }
      }
    }

    a {
      transition: padding 0.3s ease-in-out;

      &.active,
      &:hover {
        background-color: var(--primary);

        border-radius: 30px;
        padding: 5px;

      }
    }

    .overflow-menu {

      flex: 0;

      summary {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 2em;
        padding: 0.5em 1em;

        div {
          height: 0.2em;
          color: var(--primary);
          line-height: 0.2em;

          &::before {
            content: "·";
            font-size: 1.5em;
          }
        }

        ul {
          min-width: 12em;
        }

      }

      &[open] {
        summary div {
          color: var(--heading-color);
        }
      }

      ul {
        top: 3em;
      }

    }

    .right-button {
      display: none;
      width: 3rem;
      height: 3rem;


      a {
        flex: 1;
        justify-content: center;
        align-items: center;
        display: flex;

        font-size: 1em;
        border: 1px solid var(--black);
        border-radius: 50%;
        text-decoration: none !important;

        img {
          width: 50px;
          filter: invert(1);
          transform: rotate(90deg);
        }

        &:hover {
          img {
            filter: invert(0);
          }

        }
      }

    }
  }
}

header h1 {
  margin: 0;
  // line-height: 0.2rem;
}

footer {
  color: var(--subtle-text);

  a {
    img {
      width: 30px;
      margin: 0;
      border-radius: var(--border-radius);
    }

    color: var(--primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      opacity: 0.8;
    }
  }
}

.social li,
.social ul {
  margin: 0;
  padding: 0;
}

.social ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: var(--font-nav);
}

.social li a {
  display: flex;
  gap: 5px;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.social li {
  list-style: none;

}

.social a {
  color: var(--subtle-text);

  &:hover {
    color: var(--subtle-links);
    text-decoration: none;
    background-color: var(--primary);
  }
}


.social nav {
  margin: 0;
  padding: 0;
  border: none;
  min-width: 50px;
  margin-left: 15px;
}






// Mixin to apply the animation with a dynamic value

@media (max-width: 900px) {
  .social li {
    margin: 0;
  }

  header {
    margin: 1rem 0;
  }
}

@media (max-width: 600px) {

  header {

    .top {

      gap: 0.75em;
      flex-direction: column;

      .details .poem {
        text-align: center;

      }

      .avatar img {
        width: 8rem;
        height: 6rem;
      }


    }

    nav {
      .menu {
        display: flex;
        justify-content: center;
        align-items: center;

        .plus {
          font-size: 3rem;
          color: #00b16a;
          cursor: pointer;
          transition: .5s;
          font-family: 'Aref Ruqaa';

          &:hover {
            animation: rise .5s ease-in-out;
          }

          &.active {
            rotate: -45deg;
            color: #F32013;
          }

        }


      }

      .links {
        flex-direction: column;
        margin-top: 0px;
        padding: 0px;
        height: 0;
        transition: 1s;

        &.expand {
          margin-top: 5px;
          padding: 10px;
          height: 200px;
        }

        a {
          &.active {
            width: 100%;
            border-radius: 0%;

          }
        }
      }
    }
  }

}



@media (max-width: 1000px) {
  footer {
    flex-direction: column-reverse;

    .social {
      width: 100%;
      margin: 5px;

      ul {
        width: 100%;
        flex-direction: row;
        justify-content: center;

        a {
          flex-direction: column;
        }
      }
    }
  }


  @keyframes rise {
    0% {
      transform: translate(0%, -10%);
    }

    100% {
      transform: translate(0%, 0%);
    }
  }



  //   header {

  //     .top {
  //       margin-bottom: 1em;

  //       .avatar img {
  //         width: 5rem;
  //         height: 5rem;
  //       }
  //     }

  //   }

}