{% extends "base.html" %}


{% block content %}
<section class="hero">
  <div class="ornament"></div>
  <div class="content">
    <div class="decorative-border"></div>
    <h1 class="title">مقهى سيبريا</h1>
    <div class="subtitle">
      <div>وَفِيْنَا مَقاماتٌ حِسانٌ وُجوهُهُم</div>
      <div>وَأَندِيَةٌ يَنتابُها القَولُ وَالفِعلُ</div>
    </div>
    <div class="cta-row"><a href="https://t.me/+yX8K-okJGctiZTg0" class="cta">انضم لسيبريا</a>
      <a href="https://t.me/+yX8K-okJGctiZTg0" class="cta about">ما مقهى سيبريا؟</a>
    </div>
  </div>
</section>


<!-- قسم آخر المقالات -->
<section class="latest-posts">
  <h2>آخر المقالات </h2>
  <div class="posts-grid">
    {% set posts_section = get_section(path="posts/_index.md") %}
    {% for post in posts_section.pages | slice(end=3) %}
    <div class="post-card">
      <div class="post-header">
        {% if post.date %}
        <div class="meta">
          <div class="date">
            <span class="day">{{ post.date | date(format="%m") }}</span>
            <span class="rest">{{ post.date | date(format="%d") }}</span>
          </div>
        </div>
        {% endif %}

        <div class="matter">
          <h4 class="title">
            <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
            {% if post.draft %}<span class="draft">(مسودة)</span>{% endif %}
          </h4>
          {% if post.description %}
          <p class="description">{{ post.description }}</p>
          {% endif %}
        </div>
        <div class="matter">

          <ul>
            {% if post.taxonomies is containing ("tags") %}
            {% for tag in post.taxonomies["tags"] %}
            <li><a href='{{ config.base_url | safe }}/tags/{{ tag | slugify }}'>{{ tag }}</a></li>
            {% endfor %}

            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="view-all">
    <a href="{{ config.base_url | safe }}/posts">انظر لكامل المقالات</a>
  </div>
</section>

<section class="latest-posts">
  <h2>آخر القصص </h2>
  <div class="posts-grid">
    {% set posts_section = get_section(path="stories/_index.md") %}
    {% for post in posts_section.pages | slice(end=3) %}
    <div class="post-card">
      <div class="post-header">
        {% if post.date %}
        <div class="meta">
          <div class="date">
            <span class="day">{{ post.date | date(format="%m") }}</span>
            <span class="rest">{{ post.date | date(format="%d") }}</span>
          </div>
        </div>
        {% endif %}

        <div class="matter">
          <h4 class="title">
            <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
            {% if post.draft %}<span class="draft">(مسودة)</span>{% endif %}
          </h4>
          {% if post.description %}
          <p class="description">{{ post.description }}</p>
          {% endif %}
        </div>
        <div class="matter">

          <ul>
            {% if post.taxonomies is containing ("tags") %}
            {% for tag in post.taxonomies["tags"] %}
            <li><a href='{{ config.base_url | safe }}/tags/{{ tag | slugify }}'>{{ tag }}</a></li>
            {% endfor %}

            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="view-all">
    <a href="{{ config.base_url | safe }}/stories">انظر لكامل القصص</a>
  </div>
</section>

{% endblock content %}