{% extends "base.html" %}

{% block content %}
<h1 class="title">{{ section.title }}
</h1>
<ul class="list">
  <li><a href="/tags/qss">قصص</a></li>
  <li><a href="/tags/mqlt">مقالات</a></li>
  <li><a href="/tags/khbr">أخبار</a></li>
  <li><a href="/tags">المزيد + </a></li>
</ul>



<article>{{ section.content | safe }}</article>

{% for year, posts in section.pages | group_by(attribute="year") %}
<ul class="posts flat">
  <h2 class="archive-year">{{ year }}</h2>
  {% for post in posts %}
  <li class="post">
    <div class="post-header">
      <div class="meta">
        <div class="date">
          <span class="day">{{ post.date | date(format='%m') }}</span>
          <span class="rest">{{ post.date | date(format='%d') }}</span>
        </div>
      </div>
      <div class="matter">
        <div class="title small">
          <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
          {% if post.draft %}<span class="draft">(Draft)</span>{% endif %}
        </div>
        {{ hooks::posts_below_title(page=post) }}
      </div>
      <div class="matter">
        <ul>
          {% if post.taxonomies is containing ("tags") %}
          {% for tag in post.taxonomies["tags"] %}
          <li><a href='{{ config.base_url | safe }}/tags/{{ tag | slugify }}'>{{ tag }}</a></li>
          {% endfor %}

          {% endif %}
        </ul>

      </div>

    </div>
  </li>
  {% endfor %}
</ul>
{% endfor %} {% endblock content %}